.gxyczpqzbImg, .yczphsImg, .qgxybzpzbImg, .qgxybzpqkImg, .qgxyczpzbImg, .gxybzpqkImg, .gxybzpqzbImg {
    width: 750px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#gxyczpqzb, #yczphs, #qgxybzpzb, #qgxybzpqk, #yczpzb, #qgxyczpzb, #gxybzpqk, #gxybzpqzb {
    width: 750px;
    height: 400px;
    display: inline-block;
}

.gfcysrImg {
    width: 480px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#gfcysr {
    width: 480px;
    height: 400px;
    display: inline-block;
}

.mjzdzwqkImg, .qsqzldlnlImg, .qsldlzjfxImg, .gfcysrImg, .ybzpzbImg, .ybzphsImg, .yczpzbImg, .nvldlqkImg, .nxldlqkImg, .srzbqkImg, .zdwzjqImg, .yzsffbImg, .ysrllxzbImg {
    width: 500px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#mjzdzwqk, #qsqzldlnl, #qsldlzjfx, #gfcysr, #ybzpzb, #ybzphs, #yczpzb, #nvldlqk, #nxldlqk, #srzbqk, #zdwzjq, #yzsffb, #ysrllxzb2016, #ysrllxzb2017, #ysrllxzb2018 {
    width: 500px;
    height: 400px;
    display: inline-block;
}

.qzldl4660Img, .qzldl1845Img, .qsbrldlImg, .qsjnldlImg, .qsbtldlImg, .gxsjrzcImg, .gxskjbfImg, .gxsztddImg, .fpztqkImg, .zzyhsrImg, .yzhsrImg, .scxmzbImg, .zzmjzdImg, .scxmzbImg {
    width: 850px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#qzldl4660, #qzldl1845, #qsbrldl, #qsjnldl, #qsbtldl, #gxsjrzc, #gxskjbf, #gxsztd, #fpztqk, #zzyhsr, #yzhsr, #scxmzb, #zzmjzd, #scxmzb {
    width: 850px;
    height: 400px;
    display: inline-block;
}

.jtsrqkImg, .qzldl61Img {
    width: 1035px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#jtsrqk, #qzldl61 {
    width: 1035px;
    height: 400px;
    display: inline-block;
}