.zlfbxfImg, .gxyczpqzbImg, .qgxybzpzbImg, .qgxybzpqkImg, .qgxyczpzbImg, .gxybzpqkImg, .gxybzpqzbImg {
    width: 800px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#gxyczpqzb, #qgxybzpzb, #qgxybzpqk, #yczpzb, #qgxyczpzb, #gxybzpqk, #gxybzpqzb {
    width: 800px;
    height: 400px;
    display: inline-block;
}
.zlfbxfImg {
    width: 1085px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#zlfbxf {
    width: 1085px;
    height: 400px;
    display: inline-block;
}

.mjzdzwqkImg, .gfcysrImg {
    width: 480px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#mjzdzwqk, #gfcysr {
    width: 480px;
    height: 400px;
    display: inline-block;
}

.fpcyzjImg, .yczphsImg, .ybzpzbImg, .ybzphsImg, .yczpzbImg, .nvldlqkImg, .nxldlqkImg, .zgwzjqImg, .srzbqkImg, .zdwzjqImg, .yzsffbImg, .ysrllxzbImg {
    width: 525px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#fpcyzj, #yczphs, #ybzpzb, #ybzphs, #yczpzb, #nvldlqk, #nxldlqk, #zgwzjq, #srzbqk, #zdwzjq, #yzsffb, #ysrllxzb2016, #ysrllxzb2017, #ysrllxzb2018 {
    width: 525px;
    height: 400px;
    display: inline-block;
}
.zlfyzjImg {
    width: 640px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#zlfyzj{
    width: 640px;
    height: 400px;
    display: inline-block;
}

.fpztqkImg, .zzyhsrImg, .scxmzbImg, .jtsrqkImg, .zzmjzdImg {
    width: 1080px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#fpztqk, #zzyhsr, #yzhsr, #scxmzb, #jtsrqk, #zzmjzd {
    width: 1080px;
    height: 400px;
    display: inline-block;
}
.yzhsrImg {
    width: 1195px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#yzhsr {
    width: 1195px;
    height: 400px;
    display: inline-block;
}

.zzzdzwImg {
    width: 800px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#zzzdzw {
    width: 800px;
    height: 400px;
    display: inline-block;
}

.zdzwqkImg {
    width: 525px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#zdzwqk {
    width: 525px;
    height: 400px;
    display: inline-block;
}

.lycyfbImg {
    width: 525px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#lycyfb {
    width: 525px;
    height: 400px;
    display: inline-block;
}

.paihImg {
    width: 700px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#paih {
    width: 700px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}