
#ybzphs{
    width: 500px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#ybzpzb{
    width: 500px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#gxybzpqk{
    width: 500px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#gxybzpqzb{
    width: 500px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#qgxybzpqk{
    width: 700px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#qgxybzpzb{
    width: 700px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#yczphs{
    width: 600px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#yczpzb{
    width: 600px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#gxyczpqzb{
    width: 600px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}
#qgxyczpzb{
    width: 700px;
    height: 480px;
    margin: 30px;
    display: inline-block;
}