
.ldlsgyynImg,.ldljgyynImg,.ldljgyysImg,.pgcymjfbImg,.pgcysrfbImg,.pgcyhjsrImg,.ylpkpgsrImg,.ywpkpgsrImg,.yqpkpgsrImg,.ybpkpgsrImg{
    width: 850px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#ldlsgyyn ,#ldljgyyn,#ldljgyys,#pgcymjfb,#pgcysrfb,#pgcyhjsr,#ylpkpgsr,#ywpkpgsr,#yqpkpgsr,#ybpkpgsr{
    width: 850px;
    height:400px;
    display: inline-block;
}
.ldlqusjfxImg,.szyzhsImg,.nsyyzhsImg,.ryyzhsImg,.jyzhsImg,.rnyzhsImg,.nnyzhsImg,.pgcyhsfbImg{
    width: 500px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#ldlqusjfx,#szyzhs,#nsyyzhs,#ryyzhs,#jyzhs,#rnyzhs,#nnyzhs{
    width: 500px;
    height:400px;
    display: inline-block;
}
.pgcyhsfbImg,.pghjsrzbImg{
    width: 650px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#pgcyhsfb,#pghjsrzb{
    width: 650px;
    height:400px;
    display: inline-block;
}