
.jzxyhzzjImg, .fpzjczImg, .qshzzjImg, .qsjkqkImg, .qsrszjtjImg, .xysjkhsjbqkImg, .vrzpcjImg, .appsyqkImg, .appsyzjfImg, .appsypmImg {
    width: 1100px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#jzxyhzzj, #fpzjcz, #qshzzj, #qsjkqk, #qsrszjtj, #xysjkhsjbqk, #vrzpcj, #appsyqk, #appsyzjf, #appsypm {
    width: 1100px;
    height: 400px;
    display: inline-block;
}

.wzzpcjImg {
    width: 1195px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#wzzpcj {
    width: 1195px;
    height: 400px;
    display: inline-block;
}

.xysjkhsjbqkImg, .wzzpcjpmImg {
    width: 580px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#xysjkhsjbqk, #wzzpcjpm {
    width: 580px;
    height: 400px;
    display: inline-block;
}

.xyszjzjImg, .qshsjbImg,.xysczfpzjImg, .qshzzjqkzjImg{
    width: 900px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#xyszjzj, #qshsjb,#xysczfpzj, #qshzzjqkzj {
    width: 900px;
    height: 400px;
    display: inline-block;
}
