
.zgwzjqImg, .lycyfbImg, .gxspgzzmjImg, .gxspgzzsrImg, .gxsmmsrImg, .pghjsrzbImg{
    width: 500px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#zgwzjq, #lycyfb,#gxspgzzmj, #gxspgzzsr, #gxsmmsr, #pghjsrzb{
    width: 500px;
    height: 400px;
    display: inline-block;
}

.zzzdzwImg, .ldljgyysImg,.pgcymjfbImg{
    width: 1035px;
    height: 480px;
    margin: 0 0 0 30px;
    display: inline-block;
}

#zzzdzw,#ldljgyys,#pgcymjfb {
    width: 1035px;
    height: 400px;
    display: inline-block;
}

.ldlsgyynImg,.ldljgyynImg,.pgcyhjsrImg,.ylpkpgsrImg,.ywpkpgsrImg,.yqpkpgsrImg,.ybpkpgsrImg,.pgcysrfbImg{
    width: 900px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#ldlsgyyn ,#ldljgyyn,#pgcyhjsr,#ylpkpgsr,#ywpkpgsr,#yqpkpgsr,#ybpkpgsr,#pgcysrfb{
    width: 900px;
    height:400px;
    display: inline-block;
}
.ldlqusjfxImg,.szyzhsImg,.nsyyzhsImg,.ryyzhsImg,.jyzhsImg,.rnyzhsImg,.nnyzhsImg,.pgcyhsfbImg{
    width: 500px;
    height: 400px;
    margin: 0 0 0 30px;
    display: inline-block;
}
#ldlqusjfx,#szyzhs,#nsyyzhs,#ryyzhs,#jyzhs,#rnyzhs,#nnyzhs{
    width: 500px;
    height:400px;
    display: inline-block;
}